@import "parciales/_variables.scss";

@import "parciales/_reseteo.scss";
  
@import "parciales/_header.scss";  
  
@import "parciales/_footer.scss";

@import "parciales/_pagina-principal.scss";
  
@import "parciales/_nosotros.scss";  

@import "parciales/_pagina-cotizar.scss";
 
@import "parciales/_servicios.scss";  
  
@import "parciales/_aseguradoras.scss";  
 
@import "parciales/_politica-seguridad.scss" ; 
  
@import "parciales/_terminos-condiciones.scss";  
  
@import "parciales/_media-querys.scss";  
  
  