

@import "parciales/reset.scss";
@import "parciales/header.scss";
@import "parciales/footer.scss";
@import "parciales/pagina-principal.scss";   
@import "parciales/pagina-nosotros.scss";   
@import "parciales/pagina-cotizar.scss";
@import "parciales/pagina-servicios.scss";
@import "parciales/pagina-aseguradoras.scss";
@import "parciales/pagina-politica-seguridad";
@import "parciales/pagina-terminos-condiciones";
@import "parciales/media-querys";







