 /*PAGINA ASEGURADORAS*/

 .seccion__titulo {
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/wave-haikei.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -40px;

    & h1 {
      color: #00bfa6;
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
    }
    
    & .jam-padlock {
      font-size: 3rem;
      color: $color-principal;
    }
  }
  
  
  .aseguradoras__titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-top: 3rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    & h2 {
      color: #00bfa6;
      font-size: $step-2;
      font-weight: bold;
      text-align: center;
    }
    
    & p {
      text-align: center;
      width: 100%;
      padding: 1rem;
      font-size: $fluid-1;
      margin-bottom: 2rem;
    }
    
  }
  
 
  .aseguradoras__imagenes {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 3rem;
      background-color: $color-secundario;
    
  
      & a {
        text-decoration: none;
      }
      
      & .card {
        max-width: 350px;
        background-color: #fff;
        border-radius: 0.50rem;
        text-align: center;
        margin: 1rem;
        padding: 1rem;
        border: 1px solid $color-principal;
        transition: transform 0.5s;
        cursor: pointer;
    
        &:hover {
          transform: scale(1.1);
        }
      }
  
      & div h4 {
        font-size: $step-0;
        color: $color-principal;
        font-weight: bold;
      }
  
      & div p {
        color: #1C1C1C;
        text-align: left;
        font-size: $step--2;
        padding: 0 1rem;
      }
      
      & div img {
        width: 100%;
        object-fit: contain;
        height: 300px;
        border-radius: 0.50rem;
      }
    }
    
  
  
