 /*PAGINA ASEGURADORAS*/
 .seccion__titulo {
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/wave-haikei.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -40px;

    & h1 {
      color: #00bfa6;
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
    }
    
    & .jam-padlock {
      font-size: 3rem;
      color: $color-principal;
    }
  }
  
  .aseguradoras__titulo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "ele1 ele1"
   "ele2 ele3";
    justify-content: center;
    align-items: center;
    justify-items: center;

    & h2 {
      color: #00bfa6;
      font-size: $step-2;
      font-weight: bold;
      text-align: center;
      grid-area: ele1;
    }
    
    & p {
      text-align: left;
      width: 80%;
      font-size: $fluid-1;
      margin-bottom: 2rem;
    }
    
    & .parrafo1 {
      grid-area: ele2;
    }
    
    & .parrafo2 {
      grid-area: ele3;
    }
  }
  
  .seccion__imagenes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;

    & img {
      width: 200px;
      height: auto;
      transition: transform 0.2s;
  
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  
  .container__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    & .btn {
      color: #fff;
      font-weight: bold;
      background-color: $color-principal;
      transition: transform 0.2s;
  
      &:hover {
        transform: scale(1.1);
      }
    }
    
  }
  
  
