 /*FOOTER GENERAL*/
 
 .footer {
    text-align: center;
    background-color: $color-principal;

    &__span {
      display: inline-block;
      color: #fff;
      font-size: 1.8rem;
      text-decoration: underline;
      font-weight: bold;
      margin-top: 2rem;
      margin-bottom: 1rem;
      transition: transform 0.2s;
  
      &:hover {
        transform: scale(1.1);
      } 
    }

    
    &__iconos {
    margin-bottom: 0.7rem;

      & a {
      text-decoration: none;
      }

      & span {
        font-size: 1.7rem;
        color: #fff;
        padding: 0.2rem;
      }
    }
  }
  
  .footer__legales a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 1rem;

    &:hover {
      color: #006630;
    } 
  }
  
 
  .footer__matricula p {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  
  .footer .icon__item {
    display: inline-block;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.2);
    }  
  }
  
  