@media screen and (max-width: 64.625em) {
    
  /*HEADER GENERAL*/
    .header {
      justify-content: space-between;

      &__span {
        margin-left: 1rem;
      }
      &__iconos {
        display: none;
      }
    }
   
    nav {
      display: none;
    }
    .jam-menu {
      display: block;
      color: #fff;
      font-size: 2.5rem;
      cursor: pointer;
    }
    #lateral {
      display: block;
      background-color: $color-principal;
      width: 80%;
      height: 100vh;
      margin: 0;
      text-align: center;
      position: fixed;
      z-index: 999;
      top: 0;
      right: -100%;
      transition: right 0.7s;

      &:target {
        right: 0;
      }
    }
   
    .header__nav__ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 2rem;
      margin-right: 1.5rem;
    }
    .nav__ul__items {
      display: block;
      padding: 0.5rem;
      margin-left: 1rem;
      background-color: #009985;
      border-radius: 0.50rem;
    }
    .nav__ul__items-close {
      list-style-type: none;
    }
    .nav__ul__items-close {
      display: block;
    }
    .jam-close-circle {
      display: block;
      font-size: 2rem;
      color: #fff;
      cursor: pointer;
    }
    .close__enlace {
      text-decoration: none;
    }


    /*PAGINA PRINCIPAL*/
    .confianza {
      display: flex;
      flex-direction: column;
    }
    .clientes__testimonios {
      display: flex;
      flex-direction: column;
    }
    .formulario__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .formulario__titulo p {
      padding: 0 1rem;
    }
    .formulario__contacto form {
      grid-template-columns: repeat(2, 1fr);
    }
    .formulario__info {
      width: 100%;
    }


    /*PAGINA SOBRE NOSOTROS*/
    .nosotros {
      display: flex;
      flex-direction: column;
    }

    .poliza {
      flex-direction: column;
    }

    .redes-sociales {
      flex-direction: column;
    }

    /*PAGINA SERVICIOS*/
    
    .servicios__presentacion {
      flex-direction: column;
    }

    .servicios__imagenes {
      display: flex;
      flex-direction: column;
    }

    /*PAGINA ASEGURADORAS*/
    .aseguradoras__titulo {
      display: flex;
      flex-direction: column;
    }
    .seccion__imagenes {
      display: flex;
      flex-direction: column;
    }
    .seccion__imagenes img {
      margin: 2rem;
    }


    /*PAGINA COTIZAR*/
    .container__form-img {
      flex-direction: column;

      & img {
        margin: 0;
        padding: 0;
      }
    }

    /*PAGINA POLITICA Y SEGURIDAD*/
    .politica__seguridad P {
      width: 100%;
      padding: 1rem;
    }


    /*PAGINA TERMINOS Y CONDICIONES*/
    .terminos__condiciones p {
      width: 100%;
      padding: 1rem;
    }
  }
  
  @media screen and (max-width: 40.625em) {

    /*HEADER Y FOOTER GENERAL*/
    .header__span {
      font-size: 1.4rem;
    }
    .jam-shield-check {
      font-size: 1.4rem;
    }
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      align-items: center;
      text-align: center;
    }
    .footer__span {
      font-size: 1.4rem;
    }
    .footer__iconos span {
      font-size: 1.4rem;
    }
    .footer__legales {
      display: flex;
      flex-direction: column;
    }
    .footer__legales a {
      padding: 0.5rem;
    }


    /*PAGINA PRINCIPAL*/
    .seguros__generales__titulo {
      font-size: 1.5rem;
    }
    .seguros__generales__subtitulo {
      font-size: 2rem;
    }
    .titulo__principal {
      font-size: 1.7rem;
    }
    .confianza__texto {
      font-size: 1rem;
    }
    .confianza__imagenes p {
      font-size: 1rem;
    }
    .clientes__titulo h2 {
      font-size: 1.7rem;
    }
    .testimonios h4 {
      font-size: 0.9rem;
    }
    .testimonios p {
      font-size: 0.9rem;
      padding-left: 0.5rem;
    }


    /*PAGINA SOBRE NOSOTROS*/
    .conocenos__titulo {
      font-size: 1.7rem;
    }
    .nosotros__texto h2 {
      font-size: 1.7rem;
      text-align: center;
    }
    .nosotros__texto p {
      font-size: 1rem;
    }


    /*FORMULARIO COTIZAR*/
    .cotizar__titulo h1 {
      font-size: 1.7rem;
    }
    .formulario__titulo h2 {
      font-size: 1.4rem;
    }
    .formulario__titulo p {
      font-size: 1rem;
    }
    .formulario__container {
      font-size: 0.9rem;
    }


    /*PAGINA SERVICIOS*/
    .servicios__titulo h1 {
      font-size: 1.7rem;
    }
    .servicios__subtitulo__texto h2 {
      font-size: 1.7rem;
    }
    .servicios__subtitulo__texto p {
      font-size: 1rem;
    }
    .servicios__imagenes div p {
      font-size: 1rem;
    }

    
    /*PAGINA ASEGURADORAS*/
    .seccion__titulo h1 {
      font-size: 1.7rem;
    }
    .aseguradoras__titulo h2 {
      font-size: 1.7rem;
      margin-top: 2rem;
    }
    .aseguradoras__titulo p {
      font-size: 1rem;
      margin-top: 1rem;
    }
  }