  /*PAGINA NOSOTROS*/
  .conocenos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../images/wave-haikei.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    margin-top: -40px;
 
    &__titulo {
      color: $color-principal;
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
    }

    .jam-users {
      color: $color-principal;
      font-size: 3rem;
    }
  }
    
  .nosotros h2 {
    color: $color-principal;
    font-size: $step-2;
    font-weight: bold;
    margin: 2rem auto;
    text-align: center;
  }
  
  .nosotros p {
    width: 100%;
    font-size: $fluid-1;
    margin-bottom: 1.5rem;
    text-align: left;
    margin: 2rem auto;
  }
  
  .nosotros img {
    height: 100%;
    object-fit: contain;
    border-radius: 0.50rem;
    padding-bottom: 3rem;
  }