  /*PAGINA NOSOTROS*/ 

  .conocenos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../images/wave-haikei.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    margin-top: -40px;
 
    &__titulo {
      color: $color-principal;
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
    }

    .jam-users {
      color: $color-principal;
      font-size: 3rem;
    }
  }
  

  .nosotros {
    max-width: 960px;
    min-width: 280px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
  }

  .nosotros__texto h2 {
    color: $color-principal;
    font-size: $step-2;
    font-weight: bold;
    margin-top: 4rem;
    text-align: center;
  }
  
  .nosotros__texto p {
    width: 100%;
    font-size: $step--1;
    margin-top: 3rem;
    text-align: left;
  }
  

  .redes-sociales {
    max-width: 960px;
    min-width: 280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    padding: 2rem;
    background-color: $color-secundario;
    margin-bottom: 5rem;
    border: 1px solid $color-principal;
    border-radius: 0.50rem;

    & h3 {
      color: $color-principal;
      font-weight: bold;
      padding-bottom: 1rem;
      font-size: $step-1;
      text-align: center;
    }

    & img {
      width: 400px;
    }

    & li {
      font-size: $step--1;
    }
  }



  