/*PAGINA COTIZAR*/

  .formulario__titulo {
    background-color: $color-secundario;
    border-radius: 0.50rem;
    border: 1px solid $color-principal;
    max-width: 960px;
    min-width: 280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;

    & h2 {
      color: $color-principal;
      font-size: $step-2;
      margin-top: 3rem;
      margin-bottom: 1.5rem;
      font-weight: bold;
      text-align: center;
    }
    
    & p {
      font-size: $step--1;
      text-align: left;
      padding-bottom: 1rem;
    }

    & img {
      width: 200px;
    }
  }

  
  .formulario__container {
    max-width: 960px;
    min-width: 280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0 1rem;

    & label {
      font-size: $step--1;
    }

    & p {
      font-size: $step--1;
    }
  }
  
  .formulario__seleccion__seguros {
    width: 100%;
    height: 40px;
    background-color: $color-secundario;
    border-radius: 0.50rem;
    border-color: $color-principal;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    font-size: $step--2;
  }
  
  .boton__cotizar {
    background-color: $color-principal;
    border: 0;
    border-radius: 0.50rem;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .form-control {
    background-color: $color-secundario;
    border: 1px solid $color-principal;
    border-radius: 0.50rem;
  }
  
 