.cotizar__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../images/wave-haikei.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    margin-top: -40px;

    & h1 {
      color: $color-principal;
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
    }
    
    & .jam-computer {
      color: $color-principal;
      font-size: 4rem;
    }
  }
  
  .formulario__titulo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    & h2 {
      color: $color-principal;
      font-size: 2rem;
      font-weight: bold;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      text-align: center;
    }
    
    & p {
      font-size: $fluid-1;
      text-align: left;
    }
  }
  
  
  
  .formulario__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $color-secundario;
    font-weight: bold;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    border-radius: 0.50rem;
    padding: 1rem;
  }
  
  .formulario__seleccion__seguros {
    border-radius: 0.50rem;
    border-color: $color-principal;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
  }
  
  .boton__cotizar {
    background-color: $color-principal;
    border: 0;
    border-radius: 0.50rem;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
  
 