/*PAGINA POLITICA Y SEGURIDAD*/

.politica__seguridad__titulo {
    text-align: center;

    & h1 {
      color: $color-principal;
      padding: 1rem;
      font-size: $step-2;
    }
    
    & img {
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
    }
  }
  
  .politica__seguridad p {
    font-size: $step--1;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    text-align: left;
  }