/*PAGINA DE SERVICIOS*/

.servicios__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../images/wave-haikei.svg");
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -40px;

    & h1 {
      color: $color-principal;
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
    }
    
    & .jam-task-list {
      font-size: 3rem;
      color: $color-principal;
    }
  }
  

  .servicios__presentacion {
    max-width: 960px;
    min-width: 280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    padding: 2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    
    & h3 {
      color: $color-principal;
      font-weight: bold;
      padding-bottom: 1rem;
      font-size: $step-2;
      text-align: center;
    }

    & p {
      font-size: $step--1;
      text-align: center;
    }

  }
  
  
  .flecha {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 3rem;
  }

  .jam-arrow-square-down-f {
    color: $color-principal;
    font-size: 3rem;
    animation-name: flecha;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes flecha {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  

  .seguros__vida {
    background-color: $color-secundario;
    border-radius: 0.50rem;
    border: 1px solid $color-principal;
    max-width: 960px;
    min-width: 280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 1rem;
    margin-bottom: 3rem;

    & img {
      width: 600px;
      height: 280px;
      border-radius: 0.50rem;
    }

    & h3 {
      color: $color-principal;
      font-size: $step-1;
    }

    & p {
      font-size: $step--1;
      padding-right: 1rem;
      text-align: left;
    }
  }

  .seguros__hogar {
    background-color: $color-secundario;
    border-radius: 0.50rem;
    border: 1px solid $color-principal;
    max-width: 960px;
    min-width: 280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 1rem;
    margin-bottom: 3rem;

    & img {
      width: 1150px;
      height: 280px;
      border-radius: 0.50rem;
    }

    & h3 {
      color: $color-principal;
      font-size: $step-1;
    }

    & p {
      font-size: $step--1;
      padding-right: 1rem;
    }
  }

  .seguros__auto {
    background-color: $color-secundario;
    border-radius: 0.50rem;
    border: 1px solid $color-principal;
    max-width: 960px;
    min-width: 280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 1rem;
    margin-bottom: 3rem;

    & img {
      width: 600px;
      height: 280px;
      border-radius: 0.50rem;
    }

    & h3 {
      color: $color-principal;
      font-size: $step-1;
    }

    & p {
      font-size: $step--1;
      padding-right: 1rem;
    }
  }
 

  .seguros__comercio {
    background-color: $color-secundario;
    border-radius: 0.50rem;
    border: 1px solid $color-principal;
    max-width: 960px;
    min-width: 280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 1rem;
    margin-bottom: 3rem;

    & img {
      width: 600px;
      height: 280px;
      border-radius: 0.50rem;
    }

    & h3 {
      color: $color-principal;
      font-size: $step-1;
    }

    & p {
      font-size: $step--1;
      padding-right: 1rem;
    }
  }

  .seguros__praxis {
    background-color: $color-secundario;
    border-radius: 0.50rem;
    border: 1px solid $color-principal;
    max-width: 960px;
    min-width: 280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 1rem;
    margin-bottom: 3rem;

    & img {
      width: 600px;
      height: 280px;
      border-radius: 0.50rem;
    }

    & h3 {
      color: $color-principal;
      font-size: $step-1;
    }

    & p {
      font-size: $step--1;
      padding-right: 1rem;
    }
  }

  .seguros__dispositivos {
    background-color: $color-secundario;
    border-radius: 0.50rem;
    border: 1px solid $color-principal;
    max-width: 960px;
    min-width: 280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 1rem;
    margin-bottom: 3rem;

    & img {
      width: 1000px;
      height: 280px;
      border-radius: 0.50rem;
    }

    & h3 {
      color: $color-principal;
      font-size: $step-1;
    }

    & p {
      font-size: $step--1;
      padding-right: 1rem;
    }
  }

  .cotizar {
    text-decoration: none;
    text-align: center;
    background-color: $color-principal;
    border-radius: 0.5rem;
    font-weight: bold;
    color: #fff;
    padding: 0.3rem;
    cursor: pointer;
    transition: transform 0.2s;
    width: 5rem;

    & a {
      color: #fff;
    }
    
    &:hover {
      transform: scale(1.1);
    }
  }