/*PAGINA DE SERVICIOS*/
.servicios__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../images/wave-haikei.svg");
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -40px;

    & h1 {
      color: $color-principal;
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
    }
    
    & .jam-task-list {
      font-size: 3rem;
      color: $color-principal;
    }
  }
  

  .servicios__presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    gap: 3rem;
    padding: 2rem;

    & h3 {
      color: $color-principal;
      font-weight: bold;
      padding-bottom: 1rem;
      font-size: $step-1;
      text-align: center;
    }

    & img {
      width: 400px;
    }
  }
  
  .jam-arrow-square-down-f {
    color: $color-principal;
    font-size: 3rem;
    animation-name: flecha;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes flecha {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .servicios__imagenes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
  

    & a {
      text-decoration: none;
    }
    
    & .card {
      max-width: 350px;
      background-color: $color-secundario;
      border-radius: 0.50rem;
      text-align: center;
      margin: 1rem;
      border: 1px solid $color-principal;
      transition: transform 0.5s;
      cursor: pointer;
  
      &:hover {
        transform: scale(1.1);
      }
    }

    & div h4 {
      font-size: $step-0;
      color: $color-principal;
      font-weight: bold;
    }

    & div p {
      color: #1C1C1C;
      text-align: center;
      font-size: $step--2;
      padding: 0 1rem;
    }
    
    & div img {
      width: 100%;
      height: 300px;
      border-radius: 0.50rem;
    }
  }
  
 