.footer {
    text-align: center;
    background-color:#00bfa6;

    &__span {
        display: inline-block;
        color: #fff;
        font-size: 1.8rem;
        text-decoration: underline;
        font-weight: bold;
        margin-top: 0.8rem;
        margin-bottom: 1rem;
        transition: transform 0.2s;
    }
    
    &__logotipo span:hover {
        transform: scale(1.1);
    }
    
    &__iconos {
        margin-bottom: 0.7rem;
    }
    
    &__iconos a {
        text-decoration: none;
    }
    
    &__iconos span {
        font-size: 1.7rem;
        color: #fff;
        padding: 0.2rem;
    }
    
    
    &__legales a{
        text-decoration: none;
        color:#fff;
        font-weight: bold;
        padding: 1rem;
    }
    
    &__legales a:hover {
        color:#006630;
    }
    
    &__matricula p {
        display: inline-block;
        color: #fff;
        font-weight: bold;
        margin-top: 1rem;
    }
}

