.conocenos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: url(../images/wave-haikei.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    margin-top: -40px;

    
.jam-users {
    color: #00bfa6;
    font-size: 3rem;
}

.conocenos__titulo {
    color: #00bfa6;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
}

.nosotros h2 {
    color: #00bfa6;
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem auto;
    text-align: center;
}

.nosotros p {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    text-align: justify;
    margin: 2rem auto;
}

.nosotros img {
    height: 100%;
    object-fit: contain;
    border-radius: 0.50rem;
    padding-bottom: 3rem;
}

