.cotizar__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: url(../images/wave-haikei.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    margin-top: -40px; 

    .cotizar__titulo h1 {
        color: #00bfa6;
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
    }
    
    .jam-computer {
        color: #00bfa6;
        font-size: 4rem;
    }
}



.formulario__titulo {
    max-width: 960px;
    min-width: 280px;
    margin: 3rem auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .formulario__titulo h2 {
        color: #00bfa6;
        font-size: 2rem;
        font-weight: bold;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }
    
    .formulario__titulo p {
        font-size: 1rem;
        line-height: 1;
        text-align: justify;
    }
    
    .formulario__titulo img {
        width: 400px;
        height: 400px;
    }
    
}


.formulario__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #e6fff7;
    font-weight: bold;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    border-radius: 0.50rem;

    padding: 1rem;

    .formulario__seleccion__seguros {
        border-radius: 0.50rem;
        border-color: #00bfa6;
        font-family: 'Raleway', sans-serif;
        cursor: pointer;
    }
    
    
    .boton__cotizar {
        background-color: #00bfa6;
        border: 0;
        border-radius: 0.50rem;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        transition: transform 0.2s;
    }
    
    .boton__cotizar:hover {
        transform: scale(1.1);
    }    
}

