.politica__seguridad__titulo {
    text-align: center;
}

.politica__seguridad__titulo h1 {
    color:#00bfa6;
    padding: 1rem;
    font-size: 2.3rem;
}

.politica__seguridad__titulo img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.politica__seguridad p {
    font-size: 1.3rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}
